[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
yapf = "*"
flake8 = "*"
pep8-naming = "*"
pytest = "*"

[packages]
delphai-backend-utils = {git = "https://github.com/delphai/delphai-backend-utils.git", editable = true}
grpcio = "*"
grpcio-tools = "*"
pymongo = "*"
grpcio-reflection = "*"
azure-storage-blob = "*"
schematics = "*"
trafilatura = "*"
cleantext = "*"
pycld3 = "0.20"
googletrans = "3.0.0"
fuzzywuzzy = "*"
ktrain = "0.18.5"
python-Levenshtein = "0.12.0"
torch = "*"

[requires]
python_version = "3.6"
