[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
yapf = "*"
flake8 = "*"
pep8-naming = "*"
pytest = "*"

[packages]
delphai-backend-utils = {git = "https://github.com/delphai/delphai-backend-utils.git", editable = true}
grpcio = "*"
grpcio-tools = "*"
pymongo = "*"
grpcio-reflection = "*"
azure-storage-blob = "*"
schematics = "*"
trafilatura = "*"
cleantext = "*"
cython = "*"
pycld3 = "0.20"
googletrans = "3.0.0"
fuzzywuzzy = "*"
nltk = "*"
python-levenshtein = "0.12.0"
cleanco = "*"
unidecode = "*"
master = {git = "https://github.com/wearefair/protobuf-to-dict"}

[requires]
# python_version = "3.8"

